* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: myFont;
    background-color: #F6F8FB;
}

@font-face {
    font-family: mySecondFont;
    src: url(Geliat-ExtraBold.otf);
}

@font-face {
    font-family: myFont;
    src: url(Geliat-ExtraLight.otf);
}

/* Header Section Styling */

header {
    background-color: black;
    color: white;
    font-family: myFont;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

header nav div {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
}

header nav div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

header nav div ul li {
    list-style: none;
    padding: 20px;
    font-weight: bold;
}

header nav div li:hover {
    color: #dc82fc;
}

header nav div button {
    height: 44px;
    padding-left: 34px;
    padding-right: 34px;
    margin-left: 30px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #404040;
    color: white;
    font-weight: bold;
    border: 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .5s;
}

header nav div button:hover {
    background-color: #dc82fc;
}

/* hero Section */

.hero-section {
    background-image: url("Assets/bg.svg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section h1 {
    font-size: 103px;
    font-weight: bold;
    text-align: center;
}

.hero-section h1 span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #1179fc 25%, #dc82fc);
    -webkit-background-clip: text;
    background-clip: text;
}

.hero-section p {
    font-size: 20px;
    font-weight: 700;
    width: 800px;
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
}

.hero-section button {
    padding: 17px 35px;
    font-size: 18px;
    font-weight: 700;
    background-color: #1179fc;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: .5s;
}

.hero-section button:hover {
    background-color: #dc82fc;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.checkbox-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-child span {
    font-size: 18px;
    font-weight: 700;
}

.checkbox-child img {
    margin-right: 10px;
    width: 30px;
}

.hero-section .box_img {
    width: 100%;
    max-width: 1100px;
    margin-top: 100px;
    margin-right: 100px;
}

.client {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 400px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #f6f8fb 50%);
    width: 100%;
    position: absolute;
    top: auto;
    bottom: -780px;
    left: 0%;
    right: 0%;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.client h2 {
    font-size: 40px;
    color: #0f0f0f;
    width: 500px;
    text-align: left;
    font-weight: 700;
}

.client h2 span {
    color: rgba(15, 15, 15, 0.65)
}

.client button {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #1179fc;
    color: #1179fc;
}

.client button:hover {
    background-color: #dc82fc;
    border: 1px;
    color: white;
}

/* Testmonals Section Styling */

.testimonal {
    padding: 100px 80px;
}


swiper-container {

    margin-top: 30px;
    margin-bottom: 30px;
}

swiper-slide {
    font-size: 18px;
    background-color: #fff;
    width: 900px !important;
    border-radius: 30px;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.slider-description {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-left: 30px;
}

.slider-description img {
    width: 50px;
}

.slider-img img {
    width: 372px;
    border-radius: 30px;
}

.slider-description p {
    font-size: 22px;
    color: rgba(15, 15, 15, 0.65);
    line-height: 40px;
    margin-top: 10px;
}

.slider-description span {
    color: black;
}

.personName h3 {
    margin: 0;
    font-size: 26px;
    line-height: 54px;
}

.personName span {
    font-size: 22px;
    color: rgba(15, 15, 15, 0.65);
}


.rating-wrapper {
    display: flex;
    justify-content: space-between;
}

.badges img {
    margin-bottom: 30px;
}

.badges h2 {
    font-size: 28px;
    width: 200px;
    line-height: 40px;
    font-weight: 700;
    font-family: mySecondFont;
}

.badges-rating img {
    margin-bottom: 10px;
}

.badges-rating h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: mySecondFont;
}

.badges-rating p {
    font-size: 20px;
    font-weight: 700;
    color: #050917b8;

}

/* Value Section Styling */

.value_section {
    padding: 50px 80px;
}

.value_card {
    display: flex;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    gap: 50px;
    margin-top: 40px;
}

.value-card-column img {
    width: 600px;
}

.value-card-column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.value-card-column h1 {
    font-size: 57px;
    font-family: myFont;
    line-height: 70px;
    margin-top: 30px;
}

.value-card-column h1 span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #1179fc 25%, #dc82fc);
    -webkit-background-clip: text;
    background-clip: text;
}

.value-card-column button {
    border: 1px solid #1179fc;
    color: #1179fc;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 40px;
    padding: 20px 32px;
    font-size: 18px;
    font-weight: 700;
    transition: all .2s;
    margin-top: 40px;
}

.value-card-column button:hover {
    background-color: #dc82fc;
    color: white;
    border: 1px;
}

.plus-icon {
    width: 40px !important;

}

.value-card-column div {
    width: 60px;
    height: 60px;
    background-color: #f6f8fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 40px;
    transition: .5s;
    cursor: pointer;
}


.value-card-column div:hover {
    background-color: rgb(17 120 252 / 10%);
}

.bg-remove {
    background-color: #f6f8fb;
}

.value-card-column p {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

/* Accordion */

.accordion {
    background-color: #ffffff;
    color: #565656;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 42px;
    transition: 0.4s;
    padding: 40px;
    font-weight: 600;
    line-height: 50px;
    margin-top: 30px;
}

.accordion-box {
    padding: 20px 80px;
}

.accordion span {
    color: black;
}


.panel {
    padding: 30px 40px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.accordion:after {
    content: url(Assets/icon.svg);
    float: right;
    /* margin-left: 5px; */
    transition: .5s;
    background-color: #F6F8FB;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -26px;
}

.active:after {
    content: url(Assets/icon.svg);
    float: right;
    /* margin-left: 5px; */
    background-color: #F6F8FB;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Unicode character for "minus" sign (-) */
    transform: rotate(180deg);
    transition: .5s;
}

.panel-box {
    display: flex;
    border-top: 1px solid #C1C2C5;
    gap: 100px;
    padding-top: 30px;
}

.panel-image-box img {
    width: 500px;
}

.panel-heading-box p {
    font-size: 24px;
    font-weight: 700;
    color: black;
    line-height: 40px;
}

.panel-heading-box p span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #1179fc 25%, #dc82fc);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 18px;
}

.panel-heading-box button {
    height: 50px;
    background-color: #1179fc;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 40px;
    align-items: center;
    padding: 20px 32px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1px;
    transition: color .2s, background-color .2s;
    box-shadow: 0 1px 80px rgba(17, 121, 252, .05);
    border: 1px;
    margin-top: 30px;
}

/* Box Section Styling */

.box-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 80px;
    background-image: url(Assets/bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
    color: white;
    padding-bottom: 0;
    height: 860px;
    overflow: hidden;
    border-radius: 20px;
}

.box-section img {
    width: 100%;
    width: 70%;
    /* max-width: 834px; */
    position: relative;
    bottom: -60px;
}

.box-section h1 {
    font-size: 56px;
    width: 800px;
    font-family: mySecondFont;
    margin-top: 149px;
}

.box-section h1 span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #1179fc 25%, #dc82fc);
    -webkit-background-clip: text;
    background-clip: text;
}

.box-section p {
    font-size: 20px;
    width: 800px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 20px;
}

.box-section button {
    padding: 15px 28px;
    border-radius: 50px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: #1179FC;
    color: white;
    margin-top: 29px;
    border: 1px;
}

.bg-img-remove {
    background-color: #FFFFFF !important;
    background-image: none;
    color: black;
    height: 600px !important;
    padding-top: 0;
}

.image-column {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.image-column img {
    width: 405px;
    box-shadow: 17px 0 70px rgba(5, 9, 23, .11);

}

.bg-img-remove h1 {
    margin-top: 10px;
    width: 100%;
    font-size: 72px;
    font-family: myFont;
}

.bg-img-add {
    background-image: url(Assets/bg2.svg);
    color: white;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-add h1 {
    font-size: 56px;
}

.bg-img-add .value-card-column {
    padding-left: 50px;
    display: flex;
    justify-content: center;
}

/* footer Section STyling */

footer {
    background-image: url(Assets/bg.svg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 0;
    padding: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-weight: 700;
}

.footer-box span {
    color: rgba(238, 238, 238, 0.705);
    font-weight: 700;
    font-size: 20px;
}

.footer-box h3 {
    font-size: 24px;
}

.footer-box img {
    width: 200px;
}

.footer-box p {
    width: 300px;
    font-size: 20px;
    margin-top: 40px;
    line-height: 30px;
    color: rgba(238, 238, 238, 0.705);
}

/* Testimonal Section Styling */

.testimonal-card {
    margin: 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonal-card h1 {
    font-size: 40px;
    color: rgba(15, 15, 15, 0.65);
    width: 600px;
    text-align: center;
    line-height: 50px;
}

.testimonal-card h1 span {
    color: #0f0f0f;
}

.person-detail img {
    width: 70px;
    border-radius: 50px;
}

.testimoanl-card-main-box {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.testimoanl-card-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.testimonal-card-child-box {
    background-color: white;
    padding: 24px;
    box-shadow: 11px -11px 80px rgba(5, 9, 23, .1);
    width: 100%;
    border-radius: 10px;
}

.testimonal-card-child-box p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    width: 360px;
}

.person-detail {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.person-detail h3 {
    margin-bottom: 10px;
}

.person-detail span {
    font-size: 17px;
    line-height: 22px;
}

.testimoanl-card-box-2 {
    gap: 30px;
}

@media screen and (max-width: 767px) {
    .none {
        display: none;
    }

    header nav {
        padding: 20px;
    }

    .hero-section {
        padding: 20px;
    }

    .hero-section h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .hero-section p {
        width: 100%;
        font-size: 17px;
    }

    .hero-section button {
        font-size: 17px;
        padding: 15px 30px;
    }

    .checkbox {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .hero-section .box_img {
        margin-top: 50px;
        margin-right: 60px;
    }

    .client {
        bottom: -28px;
        flex-direction: column;
        gap: 0;
        padding: 0;
        align-items: start;
        padding: 20px;
    }

    .client h2 {
        font-size: 26px;
        font-weight: 700;
        width: 100%;
        position: relative;
        top: 64px;
    }

    .client button {
        position: relative;
        top: 65px;
    }

    .testimonal {
        padding: 153px 20px;
        padding-bottom: 0;
    }

    .rating-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 45px;
    }

    .badges-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .badges {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 23px;
    }

    .badges img {
        margin-bottom: 0;
    }

    .badges h2 {
        font-size: 18px;
        font-family: myFont;
    }

    .badges-rating h2 {
        font-size: 18px;
        font-family: myFont;
    }

    .badges-rating p {
        font-size: 18px;
    }

    .value_section {
        padding: 20px;
    }

    .value_card {
        flex-direction: column;
        padding: 23px;
    }

    .value-card-column img {
        width: 100%;
    }

    .value-card-column h1 {
        margin-top: 0;
        font-size: 32px;
        line-height: 42px;
    }

    .value-card-column button {
        font-size: 17px;
        margin-top: 23px;
    }

    .value-card-column div {
        margin-top: 23px;
    }

    .accordion-box {
        padding: 20px;
    }

    .accordion {
        font-size: 19px;
        line-height: 31px;
    }

    .accordion:after {
        margin-top: -21px;
        align-items: unset;
        padding: 7px;
    }

    .panel {
        padding: 14px;
    }

    .panel-box {
        flex-direction: column;
        gap: 30px;
    }

    .panel-heading-box p {
        font-size: 18px;
    }

    .panel-image-box img {
        width: 100%;
    }

    .box-section {
        margin: 20px;
        height: 100%;
        padding: 20px;
    }

    .box-section h1 {
        margin-top: 0;
        width: 100%;
        font-family: myFont;
        font-size: 32px;
        line-height: 40px;
    }

    .box-section p {
        font-size: 18px;
        width: 100%;
    }

    .box-section img {
        width: 100%;
    }

    .bg-remove {
        padding: 0;
    }

    .bg-img-add .value-card-column {
        padding: 30px;
        padding-bottom: 0;
    }

    .bg-img-add {
        padding: 0;
    }

    .bg-img-add h1 {
        font-size: 30px;
    }

    .testimonal-card {
        margin: 20px;
    }

    .testimonal-card h1 {
        width: 100%;
        font-size: 32px;
        line-height: 40px;
    }

    .testimoanl-card-main-box {
        flex-direction: column;
    }


    footer {
        padding: 20px;
    }

    .bg-img-remove {
        padding: 20px;
        margin: 0;
        height: 100% !important;
    }

    .image-column {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        margin: 0;
        gap: 26px;
    }

    .footer-box {
        color: black;
    }

    .footer-box span {
        color: black;
    }

    swiper-container {
        margin-left: 20px;
    }

    swiper-slide {
        width: 370px !important;
    }

    .slider {
        flex-direction: column;
        padding: 14px;
    }

    .slider-img img {
        width: 100%;
    }

    .slider-description {
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .slider-description p {
        font-size: 20px;
        margin-top: 10px;
    }

    .personName h3 {
        font-size: 20px;
    }

    .personName span {
        font-size: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width:1340px) {
    header nav {
        padding: 45px;
    }

    .none {
        display: none;
    }

    .hero-section h1 {
        font-size: 70px;
    }

    .hero-section p {
        line-height: 37px;
        font-size: 20px;
        width: 400px;
    }

    .client {
        padding: 45px;
        gap: 100px;
        bottom: -211px;
        align-items: center;
    }

    .client button {
        width: 300px;
    }

    .client h2 {
        font-size: 35px;
    }

    .testimonal {
        padding: 45px;
        margin-top: 61px;
    }

    .rating-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 37px;
    }

    .badges-rating h2 {
        font-size: 20px;
        font-family: myFont;
    }

    .badges {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .badges-rating p {
        font-size: 15px;
    }

    .badges h2 {
        font-size: 20px;
        font-family: myFont;
        width: 100%;
        line-height: 30px;
    }

    .badges img {
        margin-bottom: 0;
    }

    .value_section {
        padding: 45px;
    }

    .value_card {
        flex-direction: column;
    }

    .value-card-column img {
        width: 100%;
    }

    .value-card-column h1 {
        font-size: 47px;
        line-height: 65px;
        margin-top: 0;
    }

    .accordion-box {
        padding: 45px;
    }

    .accordion {
        padding: 20px;
        font-size: 23px;
        line-height: 36px;
    }

    .accordion:after {
        align-items: unset;
    }

    .panel {
        padding: 20px;
    }

    .panel-box {
        flex-direction: column;
    }

    .panel-image-box img {
        width: 100%;
    }

    .box-section {
        margin: 45px;
        padding: 20px;
        padding-bottom: 0;
        height: 100%;
    }

    .box-section h1 {
        margin-top: 0;
        width: 100%;
        font-size: 37px;
    }

    .box-section p {
        width: 100%;
        font-size: 16px;
        line-height: 30px;
    }

    .box-section img {
        width: 100%;
    }

    .bg-remove {
        padding: 0;
    }

    .bg-img-add .value-card-column {
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        padding-bottom: 0;
    }

    .bg-img-add {
        gap: 0;
    }

    .testimoanl-card-main-box {
        flex-direction: column;
    }

    .testimonal-card {
        margin: 45px;
    }

    .testimoanl-card-box {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .testimoanl-card-box-2 {
        gap: 30px;
    }

    .testimonal-card-child-box {
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
    }

    .testimonal-card-child-box p {
        width: 100%;
    }

    .bg-img-remove {
        margin: 0;
        height: 100% !important;
    }

    .image-column {
        display: flex;
    }

    .image-column img {
        width: 224px;
        bottom: -28px;
    }

    .bg-img-remove h1 {
        font-size: 50px;
    }

    swiper-container {
        margin-left: 20px;
    }

    swiper-slide {
        width: 700px !important;
    }

    .slider {
        flex-direction: column-reverse;
        padding: 14px;
        gap: 40px;
        padding-left: 30px;
        padding-right: 30px;
        align-items: unset;
    }

    .slider-description {
        margin-top: 30px;
    }

    .slider-description p {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .slider-description {
        padding-left: 0;
    }

    .slider-img img {
        width: 100%;
    }

    .rating-wrapper {
        padding-right: 0 !important;
    }

    .footer {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 58px;
    }

    .footer-box span{
        color: white;
    }

    .footer-box p{
        color: white;
    }
}

.testimonal {
    padding-right: 0;
}

.rating-wrapper {
    padding-right: 100px;
}